Options +FollowSymLinks
Options -Indexes 
DirectorySlash Off

<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews
    </IfModule>

    RewriteEngine On

    ##################
    #                #
    # SITARIUM RULES #
    #                #
    ##################
    #
	# Redirect hosted website specific resources, except php files and files with . or _
	RewriteCond %{DOCUMENT_ROOT}/websites/%{HTTP_HOST}%{REQUEST_URI} -f
	RewriteCond %{REQUEST_FILENAME} !\.php$ [NC]
	RewriteCond %{REQUEST_FILENAME} !(^\.|/\.|\_|/\_)
	RewriteRule ^(.*)$ /websites/%{HTTP_HOST}/$1 [L]    
    #
    #
    ##################

    # Redirect Trailing Slashes If Not A Folder...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)/$ /$1 [L,R=301]

    # Handle Front Controller...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]
    
    # Handle Authorization Header
    RewriteCond %{HTTP:Authorization} .
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]
</IfModule>
